<!DOCTYPE html>
<html>
  <head>
    <title>Travel Log</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h2>Travel Diary</h2>
      <hr>
      <a href='/places/new'>Add a new entry</a>
      <br>
      <a href='/places'>See your entries</a>
    </div>
  </body> 
</html>