@using TravelDiary.Models;

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel History</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h2>Past Travels</h2>
      <hr>
      @if (Model.Count == 0)
      {
        <p>Time to get logging!</p>
        <hr>
      }
      else 
      {
        @foreach (Place place in Model)
        {
          <p><a href='/places/@place.Id'>@place.City, @place.Country</a></p>
          <hr>
        }
      }
      <hr>
      <a href='/'>Return to Home</a>
    </div>
  </body>
</html>