<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Travel History</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container text-center">
      <h2>Past Travels</h2>
      <hr>
      <p>You spent @Model.Duration days in @Model.CityName, @Model.Country.</p>
      <p>You wrote that your favorite part was: @Model.Activity</p>
          <hr>
        }
      }
    </div>
  </body>
</html>